[submodule "cooperate-lib"]
	path = cooperate-lib
	url = https://github.com/athanclark/cooperate-lib
[submodule "cooperate-frontend"]
	path = cooperate-frontend
	url = https://github.com/athanclark/cooperate-frontend
